* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar-section-div {
  background-color: transparent;
  height: 17vh;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  gap: 100px;
  align-items: center;
  position: absolute;
  left: 0px;
  top: 0px;
  right: opx;
  bottom: 0px;
}
.navlinks-display {
  display: flex;
  color: white;
  gap: 70px;
  list-style: none;
}
.navlinks-display li button {
  background-color: transparent;
  border-color: white;
  width: 150px;
  height: 50px;
  border-style: solid;
  border-radius: 6px;
  color: white;
}
/* hero section css */
.hero-section {
  background-image: url("Hero.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
  justify-items: center;
  align-content: center;
  color: white;
}
.hero-section h4 {
  font-size: 50px;
}
.hero-section h2 {
  font-size: 120px;
  font-weight: lighter;
  margin-top: -20px;
  margin-bottom: 10px;
}
.hero-section p {
  width: 20%;
  text-align: center;
  font-size: medium;
  font-weight: bolder;
}
.hero-section button {
  border-style: solid;
  border-radius: 5px;
  background-color: orange;
  border-color: transparent;
  width: 150px;
  height: 50px;
  margin-top: 30px;
  cursor: pointer;
}
.hero-section button:hover {
  background-color: rgb(142, 93, 1);
  color: white;
}
/* hero section css ends here */
/* service section */
.service-section h1 {
  text-align: center;
  margin-top: 20px;
}
.service-section-flex {
  display: flex;
  margin: 20px;
  gap: 20px;
  padding: 20px;
}
/* service section ends here */
/* quote section */
.quote-section {
  background-color: rgb(229, 225, 225);
  padding: 40px;
}
.quote-section div {
  text-align: center;
  width: 50%;
  justify-self: center;
}
.quote-section div h2 {
  padding: 30px;
}
/* quote section ends here */
/* about us section css */
.about-us-section {
  display: flex;
  align-items: center;
  /* padding: 30px */
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  color: rgb(41, 163, 0);
  gap: 40px;
  margin-top: 50px;
}
.about-us-section div:first-child h5 {
  text-transform: uppercase;
  margin-bottom: 27px;
}
.about-us-section div:first-child > h3 {
  font-size: 30px;
  font-weight: lighter;
}
.about-us-section div:first-child > p {
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 25px;
}
.about-us-section div:first-child > button {
  color: rgb(41, 163, 0);
  border-color: rgb(41, 163, 0);
  width: 160px;
  height: 55px;
  background-color: transparent;
  border-style: solid;
  border-width: 1.5px;
  border-radius: 5px;
}
/* about us section css ends here */
/* question section css */
.question-section {
  background-image: url("footer-hero-big.jpeg");
  height: 100vh;
  background-position: center;
  background-size: cover;
  justify-items: center;
  align-content: center;
}
.question-section h2 {
  font-size: 60px;
  font-weight: lighter;
  margin-top: -20px;
  margin-bottom: 10px;
}
.question-section p {
  width: 40%;
  text-align: center;
  font-size: larger;
  font-weight: normal;
}
.question-section button {
  border-style: solid;
  border-radius: 5px;
  background-color: orange;
  border-color: transparent;
  width: 150px;
  height: 50px;
  margin-top: 30px;
  cursor: pointer;
}
.question-section button:hover {
  background-color: rgb(142, 93, 1);
  color: white;
}
/* question section css ends here */
/* footer section css */
.footer-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 80px;
}
.footer-section ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
.footer-section ul li a {
  color: rgb(13, 68, 26);
  text-decoration: none;
  font-size: 18px;
}
.footer-section p {
  color: rgb(13, 68, 26);
  font-size: 18px;
}
/* footer section css ends here */
@media (max-width: 1024px) {
  .hero-section p {
    width: 50%;
  }
}
@media (max-width: 834px) {
  .navlinks-display {
    display: none;
  }
  .about-us-section {
    flex-direction: column;
  }
  .about-us-section div:nth-child(2) {
    display: none;
  }
  .quote-section div h2 {
    font-size: 15px;
  }
  .question-section {
    background-image: url("footer-hero-mobile.jpeg");
  }
  .footer-section {
    display: grid;
    gap: 40px;
    justify-content: center;
    justify-items: center;
  }
}
@media (max-width: 768px) {
  .service-section-flex {
    display: grid;
    gap: 20px;
    padding: 20px;
  }
  .image-box {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
  }
  .image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  .image-box p {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 6px 10px;
  }
  .image-box h2 {
    position: absolute;
    bottom: 70px;
    left: 10px;
    padding: 6px 10px;
  }
}
@media (max-width: 480px) {
}
